<section>
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <!--<div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>-->
            </div>
            <div class="item">
                <!--<div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>-->
            </div>
            <div class="item">
                <!--<div class="container">
                    <div class="carousel-caption">
                        <h1>One more for good measure.</h1>
                        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>-->
            </div>
            <div class="item">
                <!--<div class="container">
                    <div class="carousel-caption">
                        <h1>Finibus Bonorum et Malorum.</h1>
                        <p class="lead">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
                    </div>
                </div>-->
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="mfp-arrow mfp-arrow-left mfp-prevent-close" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="mfp-arrow mfp-arrow-right mfp-prevent-close" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container">
        <div class="page-header">
            <h2 data-bind="text:displayName"></h2>
        </div>
        <blockquote data-bind="text:description" class="small"></blockquote>
        <h3>Os nossos imóveis ...</h3>
        <div class="row" data-bind="foreach: houses">
            <div class="col-lg-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-3" style="padding:0px; min-height:128px;white-space: nowrap;">
                            <span style="display: inline-block; min-height:128px; vertical-align: middle; min-width:1px "></span>
                                <img src="../../images/icon.jpg" style="border:solid 1px #c0c0c0; border-radius:64px; width:96px; vertical-align:middle;" />
                        </div>
                        <div class="col-xs-9 small">
                            <p>
                                Tipo de imóvel: <span data-bind="text: TipoDeImovel"></span><br />
                                Tipologia: <span data-bind="text: Tipologia"></span><br />
                                Localização:
                                <span data-bind="text: Distrito" title="Distrito"></span> |
                                <span data-bind="text: Concelho" title="Concelho"></span> |
                                <span data-bind="text: Freguesia" title="Freguesia"></span>
                            </p>
                            <p>
                                Preço: <span data-bind="text: Preco"></span> €
                            </p>
                            <button class="btn btn-primary btn-circle" data-bind="event : { click : $parent.showHouse}">Detalhes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>